<!-- 
<div style="display: flex;flex-direction: column; margin-top: 10%;">
 <!-- <h1 style="text-align: end;">מטבחים</h1> -->
 <div style="margin-top: 200px;text-align: center;">
    <h1>kitchens</h1>
    <div style="text-align: center;">
        <img src="assets/images/i1.jpg" height="300" >
        <img src="assets/images/i7.webp" height="300" >
        <img src="assets/images/i8.webp"height="300" >
     </div>
    <div style="text-align: center;">
    <img src="assets/images/i9.webp" height="250" >
    <img src="assets/images/i10.webp" height="250" >
    <img src="assets/images/i11.webp" height="250" >
    </div>
    <div style="text-align: center;">
        <img src="assets/images/i12.webp" height="300" >
    <img src="assets/images/i13.webp" height="300" >
    <img src="assets/images/i14.webp" height="300" >
    </div>
    <div style="text-align: center;">
        <img src="assets/images/i5.jpg" height="300" >
        <img src="assets/images/i4.jpg" height="300" >
        <img src="assets/images/i3.jpg" height="300" >
        <img src="assets/images/i2.webp" height="300">
    </div>
<h1>bathtubs</h1>
<div style="margin-top: 50px;text-align: center;">
    <div style="text-align: center;">
        <img src="assets/images/a1.jpg" height="280" >
        <img src="assets/images/a2.jpg" height="280" >
        <img src="assets/images/a3.jpg" height="280" >
    </div>
    <div style="text-align: center;">
        <img src="assets/images/a4.jpg" height="280" >
        <img src="assets/images/a5.jpeg" height="280" >
        <img src="assets/images/a6.jpg" height="280" >
    </div>
    <div style="text-align: center;">
        <img src="assets/images/a7.jpg" height="280" >
        <img src="assets/images/a8.jpg" height="280" >
        <img src="assets/images/a9.jpg" height="280" >
    </div>
</div>
    
 </div>
 