<!-- 




<div style="display: flex;flex-direction: column; margin-top: 10%;">
 <!-- <h1 style="text-align: end;">מטבחים</h1> -->
 <div style="margin-top: 200px;text-align: center;">
    <h1>מטבחים</h1>
    <div style="text-align: center;">
        <img src="assets/image/11.jpg" height="300" >
        <img src="assets/image/7.jpg" height="300" >
        <img src="assets/image/8.jpg"height="300" >
     </div>
    <div style="text-align: center;">
    <img src="assets/image/9.jpg" height="250" >
    <img src="assets/image/10.jpg" height="250" >
    <img src="assets/image/11.jpg" height="250" >
    </div>
    <div style="text-align: center;">
        <img src="assets/image/12.jpg" height="300" >
    <img src="assets/image/13.jpg" height="300" >
    <img src="assets/image/14.jpg" height="300" >
    </div>
    <div style="text-align: center;">
        <img src="assets/image/5.jpg" height="300" >
        <img src="assets/image/4.jpg" height="300" >
        <img src="assets/image/3.jpg" height="300" >
        <img src="assets/image/2.webp" height="300">
    </div>
<h1>אמבטיות</h1>
<div style="margin-top: 50px;text-align: center;">
    <div style="text-align: center;">
        <img src="assets/image/11.jpg" height="280" >
        <img src="assets/image/12.jpg" height="280" >
        <img src="assets/image/3.jpg" height="280" >
    </div>
    <div style="text-align: center;">
        <img src="assets/image/4.jpg" height="280" >
        <img src="assets/image/5.jpg" height="280" >
        <img src="assets/image/6.jpg" height="280" >
    </div>
    <div style="text-align: center;">
        <img src="assets/image/7.jpg" height="280" >
        <img src="assets/image/8.jpg" height="280" >
        <img src="assets/image/9.jpg" height="280" >
    </div>
</div>
    
 </div>
 